<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
    <table>
        <form action="">
            <tr class="radio">
                <td><input type="radio" name="groupe1" id="monsieur" value="group" checked>
                    <label for="monsieur">Monsieur</label>
                </td>
                <td> <input type="radio" name="groupe1" id="madame" value="group">
                    <label for="madame">Madame</label>
                </td>
                <td><input type="radio" name="groupe1" id="mademoiselle" value="group">
                    <label for="mademoiselle">Mademoiselle</label>
                </td>
            </tr>
            <tr>
                <td><label for="">Nom</label>
                    <input type="text" name="nom" id="nom" placeholder="Marie">
                </td>
                <td><label for="">Prénom</label>
                    <input type="text" name="prenom" id="prenom" placeholder="Jean">
                </td>
            </tr>
            <tr class="solo">
                <td><label for="tel">Téléphone</label>
                    <input type="tel" name="tel" id="tel" placeholder="06 56 47 52 77">
                </td>
            </tr>
            <tr class="solo">
                <td><label for="mail">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="kartina@gmail.com">
                </td>
            </tr>
            <tr class="solo">
                <td><button class="sender" type="submit" disabled>Appliquer</button></td>
            </tr>
        </form>
    </table>
</main>