<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
    <!-- Section Bannière -->
    <div class='banner'>
        <img src="https://images.unsplash.com/photo-1516616370751-86d6bd8b0651?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="Everest">
        <div class="text">
            <h2>Nouvelles oeuvres</h2>
            <p>La légendaire collection Everest</p>
            <a th:href="@{/photography}">Explorer la nouvelle collection</a>
        </div>
    </div>
    <!-- Section Photo d'Art -->
    <div class='photo'>
        <div class="header">
            <h2>Photographies d'art</h2>
            <h3>Œuvres en édition limitée et numérotée avec certificat d'authenticité</h3>
        </div>
        <section>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1490709501740-c7ac36b7d587?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p>Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1514467159223-eae20502f859?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p class="end">Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1490709501740-c7ac36b7d587?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p>Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1514467159223-eae20502f859?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p class="end">Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1490709501740-c7ac36b7d587?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p>Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
            <article>
                <div class="hover">
                    <img src="https://images.unsplash.com/photo-1514467159223-eae20502f859?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                        alt="Alice in Wonderland">
                </div>
                <p class="end">Paul Jones <br>
                    Alice in Wonderland <br>
                    A partir de 100€</p>
            </article>
        </section>
        <div class="link">
            <a th:href="@{/photography}">
                <h3>Explorer la collection</h3>
            </a>
        </div>
    </div>

    <!-- Section Quatro -->

    <div class="grid-container">
        <article id="3685" class="location-listing">
            <a th:href="@{/artist}" class="location-title">
                Voyages Vivez vos rêves<br><br>
                Parcourir la collection
            </a>
            <div class="location-image">
                    <img width="300" height="169"
                        src="https://images.unsplash.com/photo-1477336229416-9d67406e73bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        alt="">
            </div>

        </article>

        <article id="3688" class="location-listing">
            <a th:href="@{/artist}" class="location-title">
                Noir & Blanc Des œuvres intemporelles<br><br>
                Découvrir la collection
            </a>
            <div class="location-image">
                    <img width="300" height="169"
                        src="https://images.unsplash.com/photo-1591035897819-f4bdf739f446?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
            </div>
        </article>

        <article id="3691" class="location-listing">
            <a th:href="@{/artist}" class="location-title">
                AurélienVilette Edifices oubliés<br><br>
                Découvrir l'artiste</a>
            <div class="location-image">
                    <img width="300" height="169"
                        src="https://images.unsplash.com/photo-1526907379376-20c930b9f5d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
            </div>
        </article>

        <article id="3694" class="location-listing">
            <a th:href="@{/artist}" class="location-title">
                Derniers exemplaires Ne passer
                pas à côté de votre œuvre
                <br>
                <br>
                Découvrir les œuvres
            </a>
            <div class="location-image">
                    <img width="300" height="169"
                        src="https://images.unsplash.com/photo-1453989799106-bbad8d7b5191?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                        alt="">
            </div>
        </article>
    </div>
</main>