<!-- 
╔══════╗
║•MAIN•║
╚══════╝
-->
<main>
    <div>
        <table>
            <form action="" method="post " onSubmit="return validation(this)">
                <tr>
                    <td>
                        <h2>Réinitialisation de votre mot de passe</h2>
                    </td>
                </tr>
                <tr class="solo">
                    <td>
                        <label for="mdp1">Nouveau mot de passe</label>
                        <input type="text" name="mdp1" id="mdp1" value="">
                    </td>
                </tr>
                <tr class="solo">
                    <td>
                        <label for="mpd2">Confirmation mot de passe</label>
                        <input type="text" name="mdp2" id="mdp2" value="">
                    </td>
                </tr>
                <span class="popup"></span>
                <tr class="solo">
                    <td>
                        <button class="sender" type="submit" id="sender">Ok</button>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</main>