/*
╔══════╗
║•MAIN•║
╚══════╝
*/

main {
    background-color: rgba(200, 200, 200, 0.500);
    color: black;
    padding-top: 17px;
    margin-bottom: -10px;
    padding-bottom: 20px;
    height: 100%;
  }

.title {
    color: black;
    text-align: center;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, .20);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 20px;
    padding: 10px;
    color: black;
    text-align: center;
}

/*
╔═════════════════╗
║•RESPONSIVE MAIN•║
╚═════════════════╝
*/